{% extends "views/_base/base.html" %}

{% block introduction %}
	{# TODO: add title and description of code class #}
	<h1>History API</h1>

	<p>Code Class about the History API. It details the different functionality, like navigating through history, adding items to the history and watching for events when navigation through history.</p>
{% endblock %}

{% block exercises %}
	<h2>Exercises</h2>

	<ul>
		{# TODO: create links to all exercises #}
		<li><a href="/exercise-example">Exercise example</a></li>
	</ul>
{% endblock %}

{% block presentation %}
	<h2>Presentation</h2>
	
	<div class="cc-presentation">
		{# TODO: add url of Google Slides presentation #}
		<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS62uiiK63RQglVf5EMD6ipDURASzXP_3KkbAjg1-9E9F2vdBt9JYZvH8FxtKcIBUGMtFcIF263bVu8/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
{% endblock %}

{% block stream %}
	<h2>Stream</h2>

	<div class="cc-stream">
		{# TODO: add url of YouTube stream #}
		<iframe width="560" height="315" src="[URL]" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
{% endblock %}
