{% extends "views/_base/base.html" %}

{% block navigation %}
	<nav class="cc-navigation">
        {# TODO: add link back to exercise #}
		<a href="/exercise-example" class="cc-back-link">← back to exercise 1</a>
	</nav>
{% endblock %}

{% block introduction %}
    {# TODO: add title and description of answer #}
    <h1>[TITLE]</h1>

    <p>[DESCRIPTION]</p>
{% endblock %}

{% block html %}
    <section class="cc-html-playground">
        {# TODO: add HTML of answer #}
    </section>
{% endblock %}

{% block styles %}
    <style type="text/css">
        {# TODO: add CSS of answer #}
    </style>
{% endblock %}

{% block scripts %}
    <script>
        {# TODO: add JavaScript of answer #}
    </script>
{% endblock %}